
#minimenu 
{
    float: left;
}

#login {
    float: right;
}

ul#minimenu, ul#login {
    list-style: none;
}

#minimenu li, #login li {
    list-style: none;
    display: inline;
}

#large_photo {
    width: 600px;
    height: 400px;
}

.hidden {
    display: none;
}